.fa-home:before, .icon-home:before {
    content: none;
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    margin-bottom: 0
}

.wy-side-nav-search img {
    width: inherit;
    height: inherit;
    border-radius: 0;
    width: 200px
}

.rst-content img {
    display: block;
    margin: auto
}

.wy-plain-list-disc, .rst-content .section ul, .rst-content .toctree-wrapper ul, article ul {
    padding-left: 40px;
    line-height: 27px
}

.rst-content blockquote {
    margin-left: 0;
    border-left: solid 6px #c5bfbf;
    padding: 10px;
    background-color: #f3f0f0;
}

.rst-content blockquote p {
    margin-bottom: 0
}

.rst-content blockquote ul, .rst-content table ul {
    padding-left: 0 !important
}

.rst-content table ul {
    margin: 0 !important
}

footer {
    text-align: center
}

ul.subnav ul {
    margin-left: 22px
}

.wy-nav-side {
    height: calc(100% - 45px);
    overflow-y: auto;
    min-height: 0;
}

li a.toctree-l3 {
    display: none
}

li.toctree-l2 .active {
    font-weight: bold
}

.rst-content h2 {
    border-bottom: 3px solid green;
    padding-bottom: 5px;
}

h3 {
    font-size: 120%;
}

p.caption {
    background-color: #2980B9;
    color: #fff;
    line-height: 18px;
    padding: 0.4045em 0.618em;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
}

li.toctree-l1 .caption-text {
    display: inline-block;
    line-height: 18px;
    padding: 0.4045em 1.618em;
    display: block;
    position: relative;
    font-size: 90%;
}

.wy-menu-vertical li {
    background: #e3e3e3;
}

.wy-menu-vertical a:hover {
    background: #e3e3e3;
}

.wy-menu-vertical a {
    color: inherit;
}

.wy-side-nav-search {
    margin-bottom: 2px
}

.rst-content table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px
}

.rst-content table td, .rst-content table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.rst-content table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.rst-content table tr:hover {
    background-color: #ddd;
}

.rst-content table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2980B9;
    color: white;
    text-align: center;
}

code, .rst-content tt {
    white-space: inherit;
}